* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family: sans-serif;
}
    
    
.center-column {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    text-align: center;
    color: white
}

.light-container {
    background-color: #f20d0d;
    padding: 48px 0px;
}

.bg-image img {
    width: 100%;
    display: inline-block;
}

.logo-container img {
    width: 240px;
    display: inline-block;
    margin: 100px;
}

.paragraph-container p {
    display: inline-block;
    color: white;
}

.logo-container,
.paragraph-container {
    display: inline-block;
    width: 48%;
}

.cereals {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}