* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #877023, #6d4f0f);
    display: flex;
    justify-content: flex-end;
}

#navbar .a-container {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin: 12px;
}

#navbar a {
    margin-right: auto;
    color: white;
    margin-left: 12px
}

#navbar-2 {
    background: linear-gradient(to bottom, #674ed5, #94cce8);
    display: flex;
    justify-content: flex-end;
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin: 12px
}

#navbar-2 .cta-button {
    background-color: white;
    color: #b388ec;
    border-radius: 36px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-bottom: 36px;
}

#navbar-2 .logo {
    margin-right: auto;
    color: white;
    padding-left: 12px
}

