* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #877023, #6d4f0f);
    display: flex;
    justify-content: flex-end;
}

#navbar .a-container {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin: 12px;
}

#navbar a {
    margin-right: auto;
    color: white;
    margin-left: 12px
}

#navbar-2 {
    background: linear-gradient(to bottom, #674ed5, #94cce8);
    display: flex;
    justify-content: flex-end;
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin: 12px
}

#navbar-2 .cta-button {
    background-color: white;
    color: #b388ec;
    border-radius: 36px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-bottom: 36px;
}

#navbar-2 .logo {
    margin-right: auto;
    color: white;
    padding-left: 12px
}

#navbar-top {
    background: linear-gradient(
        to bottom,
        black 55%,
        red
    );
    padding: 18px
}

#navbar-top h1 {
    color: white;
    display: flex;
    justify-content: center
}

#navbar-center {
    background: linear-gradient(
    to bottom,
    red,
    #ff8800
    );
    padding: 12px;
    
}

.content-column {
    display: flex;
    justify-content: space-between;
}

.content-column a {
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 0px 18px;
    font-size: 16px
   
}

#navbar-center #logo {
    font-size: 36px;
}

.content-column .cta-button {
    border: solid 2px white;
    padding: 12px;
    color: black;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 24px
}

#navbar-bottom {
    background: linear-gradient(
        to bottom,
        #ff8800,
        black
    );
    padding: 10px;
    
}

#navbar-bottom {

}

