@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

span-b {
    font-weight: bold;
}

span-i {
    font-style: italic;
}

#logo h1 {
    font-family: "Trade Winds", system-ui;
    padding: 5px;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    flex: 1;
    padding: 20px;
    background-color: #d9e8f5;
}

#main-content {
    flex: 6;
    padding: 20px;
}

#sidebar-content h3 {
    text-align: center;
    background-color: #d5baf3;
}

span {
    color: blue;
}