/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-1 {
    width: 350px;
    background-color: #e7f4e7;
    margin-top: 16px;
    margin: 16px;
    box-shadow: 2px 2px 18px #000000b7;
}

.card-style-1:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 36px #000000c7;
}

.card-style-1 h2 {
    text-align: center;
}

.card-style-1 p {
    padding: 4px 24px;
}

.card-style-1 a {
    color:#e7f4e7;
    text-decoration: none;
    border: 3px solid #008000;
    display: block;
    background-color: #008000;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    transition:
        background-color 1s,
        color 1s;
     
}

.card-style-1 a:hover {
    background-color: transparent;
    color: #008000;
}

img {
    width: 100%;
    padding: 0px;
}
