* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.fake-button-1 {
    background-color: #2d2da4;
    padding: 12px;
    border-radius: 24px;
    text-align: center;
    color: white;
    margin: 12px 0px;
    display: inline-block;
    min-width: 200px;
}

.fake-button-2 {
    background-color: #5998e0;
    padding: 12px;
    border-radius: 24px;
    text-align: center;
    color: white;
    margin: 12px 0px;
    display: inline-block;
    min-width: 200px;
}

.fake-button-3 {
    padding: 12px;
    border-radius: 24px;
    text-align: center;
    color: #66d0f0;
    margin: 12px 0px;
    display: inline-block;
    min-width: 200px;
    border: solid;
}

.m {
    color: #8810b7;
}

.e {
    color: #2772ff;
}

.b {
    color: green;
}

.a {
    color: #fad51a;
}

.y {
    color: red;
}

.heading-container h2 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

#image-column img {
    border: solid;
    padding: 50px;
    margin: 25px;
}

#main-content {
    margin: 30px;
    margin-top: 0px;
}

#sidebar-content img {
    border: solid;
    border-radius: 50%;
}

.top-box {
    border: solid;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
}

.bottom-box {
    border: solid;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
}

.buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}