@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom, 
        #016394 30%, 
        #87c53b);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 22px;
    font-weight: bold;
}

#navbar img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
}

#hero {
    background-image: url(../images/veggies2.png);
    height: 60vh;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-family: "Matemasie", serif;
}

.content {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    align-content: center;
    display: flex;
}


.statements {
    border: solid 2px #87c53b;
    margin: 12px;
    padding: 10px;
    border-radius: 24px;
    text-align: center;
}

.content-gallery {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

#about {
    border: solid 2px #87c53b;
    margin: 12px;
    padding: 10px;
    border-radius: 24px;
    text-align: center;
}

#button {
    margin-left: auto;
    margin-right: auto;
}

#button a {
    border: solid 2px #87c53b;
    padding: 16px;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    background-color: #87c53b;
    font-weight: bold;
    font-size: 24px;
}

.content-gallery-grid {
    display: grid;
}

.items {
    display: flex;
}

.content-gallery-grid h1 {
    margin-left: auto;
    margin-right: auto;
}

#apps {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

#s-s {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

#entrees {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

#desserts {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

.pics {
    gap: 40px;

}
.pics img {
    width: 200px;
    margin-bottom: 24px;
    display: flex;

}


#footer {
    background: linear-gradient(
        to bottom, 
        #016394 30%, 
        #87c53b);
        padding: 32px;
}

@media screen and (max-width: 590px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    .items {
        flex-direction: column;
        align-items: center;
    }

    .content-gallery-grid {
        
    }
}

@media screen and (max-width: 920px) {
    .items {
        flex-direction: column;
        align-items: center;
    }

    .items img {
        flex-direction: column;
        align-items: center;
    }
}