@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom, 
        #016394 30%, 
        #87c53b);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: "Matemasie", serif; */
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 25px;
    font-weight: bold;
}

#navbar img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
}

#hero {
    background-image: url(../images/veggies2.png);
    height: 60vh;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-family: "Matemasie", serif;
}

.content {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    align-content: center;
    display: flex;
    
}

.content.menu {
    display: block;
}


.statements {
    border: solid 2px #87c53b;
    margin: 12px;
    padding: 10px;
    border-radius: 24px;
    text-align: center;
}

.content-gallery {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

#about {
    border: solid 2px #87c53b;
    margin: 12px;
    padding: 10px;
    border-radius: 24px;
    text-align: center;
}

#button {
    margin-left: auto;
    margin-right: auto;
}

#button a {
    border: solid 2px #87c53b;
    padding: 16px;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    background-color: #87c53b;
    font-weight: bold;
    font-size: 24px;
    transition:
        background-color .5s,
        color .5s;
}

#button a:hover {
        background-color: transparent;
        color:#87c53b;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.items {
    display: flex;
    
}

.items > div {
    flex: 1;
}

.content-gallery-grid h1 {
    margin-left: auto;
    margin-right: auto;
}

#apps {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

#s-s {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

#entrees {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

#desserts {
    border: solid 2px #87c53b;
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
}

.pics {
    gap: 40px;
    margin: 12px;
    

}
.pics img {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    display: flex;
    object-fit: cover;
    border-radius: 24px;
}


#footer {
    background: linear-gradient(
        to top, 
        #016394 30%, 
        #87c53b);
    padding: 32px;
    text-align: center;
    color: white;    
}

#feature .pics {
    height: 100%;
}

@media screen and (max-width: 590px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    .items {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-left: auto;
    }

    #apps {
        width: 100%;
    }

    #s-s {
        width: 100%;
    }

    #entrees {
        width: 100%;
    }

    #desserts {
        width: 100%;
    }

}

@media screen and (max-width: 920px) {
    .items {
        flex-direction: column;
        
    }

    #apps {
        width: 100%;
    }

    #s-s {
        width: 100%;
    }

    #entrees {
        width: 100%;
    }

    #desserts {
        width: 100%;
    }
}