/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.dali1 img {
    width: 100%;
    display: block;
}

.dali1 {
    margin: 20px;
    border: ridge 10px;
    border-color: black;
    width: 100px;
    padding: 8px;
    background-color: white;
    box-shadow: inset 4px 4px 16px 4px grey;
}

.welcome {
    background-color: aquamarine;
    margin: 20px;
    padding: 4px;
    border: ridge 10px;
    border-color: black;
    width: 100px;
    box-shadow: inset 4px 4px 16px 4px grey;
}

.dali2 img {
    width: 100%;
    display: block;
}

.dali2 {
    border: ridge 10px;
    border-color: black;
    padding: 4px;
    margin: 20px;
    background-color: white;
    width: 100px;
    box-shadow: inset 4px 4px 16px 4px grey;
}

.dali3 img {
    width: 100%;
    display: block;
}

.dali3 {
    border: ridge 10px;
    border-color: black;
    margin: 40px;
    padding: 4px;
    background-color: white;
    box-shadow: inset 4px 4px 16px 4px grey;
}

.escher1 img {
    width: 100%;
    display: block;
}

.escher1 {
    border: ridge 10px;
    border-color: black;
    margin: 50px;
    padding: 4px;
    background-color: white;
    box-shadow: inset 4px 4px 16px 4px grey;
}

.escher2 img {
    width: 100%;
    display: block;
}

.escher2 {
    width: 100px;
    padding: 4px;
    border: ridge 10px black;
    background-color: white;
    margin: 25px;
    box-shadow: inset 4px 4px 16px 4px grey;
}